/* ==================================== */
/* SECTION HEADER */
/* ==================================== */

.logo {
  width: 6rem;
  height: 6rem;
  background-color: var(--color-btn-hover);
  color: var(--color-white);
}

.header {
  position: relative;
  background-color: var(--color-theme-brown);
  color: var(--color-white);
  padding: 1.6rem 0;
  font-family: "Times New Roman", Times, serif;
}

.main-nav--grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.social-account-links {
  display: flex;
  justify-content: right;
  margin-bottom: 2.4rem;
  gap: 12.8rem;
}

.account-links {
  align-self: center;
}

.account-link-list {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1.2rem;
}

.main-links {
  grid-column: span 2;
  align-self: center;
}

.main-link-list {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 3.2rem;
}

.main-link--link:link,
.main-link--link:visited {
  font-size: 1.6rem;
  color: var(--color-white);
  text-transform: uppercase;
}

.main-link--link i {
  margin-left: 0.8rem;
}

.main-link--link .social-links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.social-links,
.account-links {
  font-size: 1.6rem;
}

.follow-us {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.social-link-list {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1.2rem;
}

.account-link-icon,
.social-link-icon {
  color: var(--color-white);
}

.menu-open,
.menu-close {
  display: none;
  font-size: 3.6rem;
  color: var(--color-white);
  border: none;
  background-color: transparent;
}

/* ==================================== */
/* SECTION HERO */
/* ==================================== */

.section-hero {
  border-top: 1px solid var(--color-white);
  background-image: linear-gradient(
      rgba(29, 25, 26, 0.65),
      rgba(29, 25, 26, 0.65)
    ),
    url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
  text-align: center;
  color: var(--color-white);
}

/* ==================================== */
/* SECTION PRODUCTS */
/* ==================================== */

.section-products {
  background-color: var(--color-bg-brown);
  padding: 8rem 0;
  text-align: center;
}

.article-img-box img {
  width: 100%;
  margin-bottom: 1.6rem;
}

.article-description-box {
  padding: 0 1.6rem;
  text-align: left;
  color: var(--color-bg-brown-dark-text);
}

.product-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.product-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 0.8rem;
}

.price {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-white);
}

/* ==================================== */
/* SECTION BLOGS */
/* ==================================== */

.section-blogs {
  background-color: var(--color-bg-grey);
  padding: 8rem 0;
  text-align: center;
}

.box-blog {
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--color-bg-black);
}

.box-blog--img img {
  width: 100%;
}

.box-blog--text {
  padding: 3.2rem 1.6rem;
  color: var(--color-bg-black-text);
  font-size: 1.2rem;
}

/* ==================================== */
/* SECTION SALES */
/* ==================================== */

.section-sales {
  background-color: var(--color-bg-brown);
  padding: 8rem 0;
  /* text-align: center; */
}

.sales-text-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2.4rem 0;
}

.sales-text-box-text {
  font-size: 1.8rem;
  color: var(--color-white);
}

.sales-img-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* ==================================== */
/* SECTION POSTS */
/* ==================================== */

.section-community-post {
  padding: 8rem 0;
  background-color: var(--color-bg-grey);
}

.post-img-box {
  margin-bottom: 1.4rem;
}

.post-img-box img {
  width: 100%;
}

.post-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.post-desc {
  text-align: center;
  font-size: 1.4rem;
}

/* ==================================== */
/* SECTION CAR CLUB */
/* ==================================== */

.section-car-club {
  padding: 8rem 0;
}

.grid--car-club {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.car-club-img-box img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

/* ==================================== */
/* SECTION FOOTER */
/* ==================================== */

.footer {
  padding: 8rem 0;
  background-color: var(--color-bg-black);
  color: var(--color-white);
}

.sign-up-form {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 6.4rem;
}

.sign-up-form input {
  font-family: inherit;
  color: var(--color-theme-brown);
  padding: 1.2rem 12.8rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.6rem;
}

.sign-up-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #88888880;
}

.btn {
  border: none;
  padding: 1.2rem 6.4rem;
  border-radius: 1rem;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: var(--color-btn-primary);
}

.btn:hover,
.btn:active {
  background-color: var(--color-btn-hover);
  cursor: pointer;
}

.about {
  margin-top: 3.2rem;
  text-align: center;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.about-text {
  text-align: center;
  font-size: 1.4rem;
  padding: 0 19.2rem;
  margin-bottom: 6.4rem;
}

.footer-nav-list,
.footer-nav-list-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav-list {
  gap: 4.8rem;
  margin-bottom: 1.6rem;
}

.footer-nav-list a:link,
.footer-nav-list a:visited {
  font-size: 1.8rem;
  color: var(--color-white);
}

.footer-nav-list a:hover,
.footer-nav-list a:active {
  color: var(--color-bg-grey);
}

.footer-nav-list-secondary {
  gap: 2.4rem;
  margin-bottom: 6.4rem;
}

.footer-nav-list-secondary a:link,
.footer-nav-list-secondary a:visited {
  font-size: 1.2rem;
  color: var(--color-white);
}

.footer-nav-list-secondary a:hover,
.footer-nav-list-secondary a:active {
  color: var(--color-bg-grey);
}

.copyright-text {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-bg-brown-dark-text);
}
